node_modules/
.next/
out/
dist/
build/
coverage/
.turbo/
.DS_Store
.env
.env.local
.env.*.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.cache/
.parcel-cache/
.vercel
.netlify
*.tsbuildinfo
next-env.d.ts
